@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family: "Khmer OS Battambang"
}

body{
	display:flex;
	flex-direction: row;
	background-image: url("image/maliny BG.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

header{
	width:270px;
	height:100%;
	background:black;
	position:fixed;
	left:0;
	top:0;
	overflow: scroll;
}

header::-webkit-scrollbar{
	display: none;
}

.profile .logo{
	display:flex;
	justify-content: center;
	width:250px;
	height:180px;
	opacity:0;
	animation:slideleft .5s ease forwards;
	animation-delay:calc(.2s*var(--i));
}

.profile .logo img{
	width:100%;
	height:100%;
}

.profile h1{
	color:white;
	display: flex;
	justify-content: center;
	margin-top:-30px;
	font-size:2rem;
	font-weight:600;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	opacity:0;
	animation:slideleft .5s ease forwards;
	animation-delay:calc(.2s*var(--i));
}

.profile .social-link{
	margin:20px 0;
	display: flex;
	justify-content: center;
}

.profile .social-link a{
	position:relative;
	color:white;
	font-size:1.5rem;
	text-decoration: none;
	margin:0 10px;
	border:3px solid aqua;
	border-radius:50%;
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index:1;
	opacity:0;
	animation:slideleft .5s ease forwards;
	animation-delay:calc(.2s*var(--i));
}

.profile .social-link a::before{
	content: '';
	position: absolute;
	background:aqua;
	top:0;
	left:0;
	width:0;
	height:100%;
	z-index:-1;
	transition:.3s ease;
}

.profile .social-link a:hover{
	color:#521794;
}

.profile .social-link a:hover::before{
	width:100%;
}





header .nav-menu{
	display:flex;
	flex-direction: column;
}

header .nav-menu button{
	position: relative;
	margin:10px 20px;
	background:white;
	border-radius:10px;
	font-size:1.3rem;
	font-weight: 600;
	padding:5px;
	opacity:0;
	transition:.3s ease; 
	animation:slideleft .5s ease forwards;
	animation-delay:calc(.2s*var(--i));
	overflow: hidden;
	z-index:1;
}

header .nav-menu button::before{
	position: absolute;
	content:"";
	width:0;
	height:100%;
	background:aqua;
	left:0;
	top:0;
	transition:.3s ease;
	z-index:-1;
}

header .nav-menu button:hover::before{
	width:100%;
}
/*header .nav-menu button:hover{
	background:aqua;
}*/

header .nav-menu button.active{
	background:aqua;
}

.main{
	margin-left:270px;
	flex-grow: 1;
	padding:20px;
}

.lesson{
	background:rgba(99,72,73,1.00);
	padding:20px;
	position: absolute;
	transition:.5s ease;
	margin:20px 0;
	margin-right:20px;
	border-radius:20px;
	color:white;
	line-height: 40px;
	height:90vh;
	width:75%;
	overflow-y: scroll;
	transform:scale(0);
}

.lesson.active{
		transform:scale(1);
}
.lesson::-webkit-scrollbar{
	display: none;
}

.grammer-title{
	display:flex;
	justify-content: space-between;
	align-items:center;
	background:rgba(121,176,95,1.00);
	width:100%;
	padding:10px 20px 10px;
	border-radius:10px;
	margin-bottom:20px;
}

.lesson h3{
	font-size:1.2rem;
	font-family:"Khmer OS Muol Light";
}
.lesson b{
	font-size:1.2rem;
	font-weight:800;
	color:red;
}

.lesson i{
	font-size:1.3rem;
	font-weight:500;
	color:red;
	position: relative;
}

.best-note{
	text-align:center;
	font-size:1.5rem;
}

.word p , .word-1 p ,.word-2 p{
	word-spacing: 10px;;
}

@keyframes slideleft{
	0%{
		transform:translatex(-100px);
		opacity: 0;
	}
	100%{
		transform: translatex(0);
		opacity: 1;
	}
}












