@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

html{
	scroll-behavior:smooth;
}

body{
	display: flex;
	flex-direction: row;
	margin:0;
	padding:0;
}

header{
	width:200px;
	background:black;
	position: fixed;
	left:0;
	top:0;
	height:100%;
	z-index: 10;
}

.profile .logo{
	width:100%;
	height:100%;
	margin:0 0 0 0;
	display: flex;
	justify-content: center;
	transform:scale(1);
	animation: slideleft .5s ease forwards;
	animation-delay:calc(.2s*var(--i));
	opacity:0;
}

.profile .logo img{
	width:100%;
	height:100%;
}

.profile h1{
	color:white;
	font-size:2rem;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top:-30px;
	opacity:0;
	animation: slideleft .5s ease forwards;
	animation-delay:calc(.2s*var(--i));
}

.profile .social-link{
	display: flex;
	justify-content: center;
}

.profile .social-link a{
	position:relative;
	color:white;
	font-size:1.5rem;
	text-decoration: none;
	margin:0 10px;
	border:3px solid aqua;
	border-radius:50%;
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index:1;
	transition:.3s ease;
	opacity:0;
	animation:slideleft .5s ease forwards;
	animation-delay:calc(.2s*var(--i));
}

.profile .social-link a:hover{
	color:#521794;
}

.profile .social-link a::before{
	content: '';
	position: absolute;
	background:aqua;
	top:0;
	left:0;
	width:0;
	height:100%;
	z-index:-1;
	transition:.3s ease;
}

.profile .social-link a:hover::before{
	width:100%;
}

header .nav-menu ul{
	margin:20px 0 0 40px;
}

header .nav-menu ul li{
	margin-bottom:20px;
}

header .nav-menu ul li a{
	color:rgba(251,242,242,0.6);
	text-decoration: none;
	font-size:1.3rem;
	display: flex;
	opacity:0;
	animation:slideleft .5s ease forwards;
	animation-delay:calc(.2s*var(--i));
}

header .nav-menu ul li a.active{
	color:white;
}

header .nav-menu ul li a.active i{
	color:aqua;
}

header .nav-menu ul li:hover a{
	color:white;
}
header .nav-menu ul li:hover a i{
	color:aqua;
}

main{
	flex-grow: 1;
	display:inline-block;
	margin-left:200px;
	/*z-index: 10;*/
}

.home{
	height:100vh;
	background-image:url("image/maliny BG.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	opacity:0;
	animation:slidetop .5s ease forwards;
	animation-delay:calc(.2s*var(--i));
}

.home h1{
	font-size:4rem;
	background-image: linear-gradient(90deg,yellow,aqua,blue,green,orange);
	position: absolute;
	left:10%;
	top:10%;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	-webkit-text-fill-color:transparent;
	-webkit-text-stroke-width:4px;
	-webkit-background-clip:text;
	background-clip: text;
}

#about{
	background:#4BCDC3;
	width:100%;
	padding:10px;
	display: inline-block;
}


.about .lesson{
	width:22%;
	height:300px;
	background:#FFFFFF;
	border-radius:10px;
	float:left;
	margin:1.5%; 
	display:inline-flex;
	justify-content: space-between;
	padding:10px;
	overflow: hidden;
	cursor:pointer;
	position:relative;
	transition:.3s ease;
}

.about .lesson:hover{
	transform:scale(1.1);
	box-shadow: 0 0 20px red;
}

.content .chapter a{
	color:black;
	text-decoration: none;
	font-family:"Khmer OS Muol Light";
	font-size:1.5rem;
	transition:.3s ease;
}

.content .chapter a:hover{
	color:red;
	text-shadow: 0 0 10px black;
}

.content h3{
	font-family:"Khmer OS Battambang";
	font-size:1rem;
}

.content p{
	position:absolute;
	width:100%;
	height:170px;
	background:transparent;
	overflow-y: scroll;
	margin:10px 0;
	bottom:0;
}


.content p::-webkit-scrollbar{
	display: none;
}

@keyframes slidetop{
	0%{
		transform:translatex(-300px);
		opacity:0;
	}
	100%{
		transform:translatex(0);
		opacity:1;
	}
}

@keyframes slideleft{
	0%{
		transform:translatex(-100px);
		opacity:0;
	}
	100%{
		transform:translatex(0);
		opacity:1;
	}
}































