@charset "utf-8";
/* CSS Document */


#header{
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	background:black;
	width:300px;
}
#header *{
	padding:0;
	margin:0;
}
#header .profile{
	width:100%;
	height:200px;
}
#header .profile .img{
	width:200px;
	height:200px;
	margin:0 auto;
}
#header .profile .img img{
	width:100%;
	height:100%;
}
#header .profile h1{
	color:white;
	font-size:2.2rem;
	margin-top:-20px;
	text-align:center;
}

#header .profile .social-link {
	display:flex;
	justify-content:center;
}

#header .profile .social-link a{
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
	width:30px;
	height:30px;
	font-size:1.2rem;
	border-radius:50%;
	border:3px solid aqua;
	background:transparent;
	z-index:1;
	color:white;
	text-decoration:none;
	transition:.3s;
	overflow:hidden;
	margin:20px 10px ;
}
#header .profile .social-link a:hover{
	color:#223F8F;
}
#header .profile .social-link a::after{
	position:absolute;
	content:'';
	width:0;
	height:100%;
	background:aqua;
	top:0;
	left:0;
	z-index:-1;
	transition:.3s;
}
#header .profile .social-link a:hover::after{
	width:100%;
}


#header .nav-menu{
	position: absolute;
	bottom:20px;
	left:20px;
}
#header .nav-menu ul li{
	margin:20px 0 0 0;
	list-style:none;
}
#header .nav-menu ul li a{
	color:#8B8484;
	text-decoration:none;
	font-size:1.3rem;
	transition:.3s ease;
}
#header .nav-menu ul li a:hover{
	color:white;
}
#header .nav-menu ul li a:hover i{
	color:aqua;
}


















